.login-button {
    background-color: #00BFA5;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    border: 1px solid #FF1744;
}